USE [master]
GO
/****** Object:  Database [Taller]    Script Date: 11/6/2023 19:49:09 ******/
CREATE DATABASE [Taller]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Taller', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Taller.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Taller_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Taller_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Taller].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Taller]
GO
/****** Object:  Table [dbo].[ALQUILER]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALQUILER](
	[ID_ALQUILER] [int] NOT NULL,
	[FECHA_INICIO] [datetime] NULL,
	[FECHA_PAGO] [datetime] NULL,
	[CONDICIONES_PAGO] [varchar](50) NULL,
	[OBSERVACIONES_ALQUILER] [varchar](100) NULL,
 CONSTRAINT [PK_ALQUILER] PRIMARY KEY CLUSTERED 
(
	[ID_ALQUILER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANTICRETICO]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANTICRETICO](
	[ID_ALQUILER] [int] NOT NULL,
	[ID_ANTICRETICO] [int] NOT NULL,
	[FECHA_INICIO] [datetime] NULL,
	[FECHA_PAGO] [datetime] NULL,
	[CONDICIONES_PAGO] [varchar](50) NULL,
	[OBSERVACIONES_ALQUILER] [varchar](100) NULL,
	[CONDICIONES_CONTRATO_ANTICRETICO] [varchar](200) NULL,
	[FECHA_INICIO_CONTRATO] [datetime] NULL,
	[FECHA_PLAZO_CONTRATO] [datetime] NULL,
	[FECHA_RENOVACION_CONTRATO] [datetime] NULL,
 CONSTRAINT [PK_ANTICRETICO] PRIMARY KEY CLUSTERED 
(
	[ID_ALQUILER] ASC,
	[ID_ANTICRETICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CASA]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASA](
	[ID_INMUEBLE] [int] NOT NULL,
	[ID_CASA] [int] NOT NULL,
	[ID_UBICACION] [int] NULL,
	[ID_ADQUISICION] [int] NULL,
	[ID_DOCUMENTO] [int] NULL,
	[DESCRIP_INMUEBLE] [varchar](50) NULL,
	[ESTADO] [varchar](50) NULL,
	[SERVICIOS_BASICOS] [varchar](100) NULL,
	[HABITACIONES] [int] NULL,
	[BANOS] [int] NULL,
	[COCINAS] [float] NULL,
	[SALAS] [float] NULL,
	[PISOS] [float] NULL,
	[JARDIN] [bit] NULL,
	[GARAJE] [bit] NULL,
 CONSTRAINT [PK_CASA_1] PRIMARY KEY CLUSTERED 
(
	[ID_CASA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] NOT NULL,
	[ID_SUCURSAL] [int] NULL,
	[CI_CLIENTE] [int] NULL,
	[NOMBRE_COMPLETO] [varchar](50) NULL,
	[DIRECCION_CLIENTE] [varchar](50) NULL,
	[CORREO_CLIENTE] [char](50) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMISION]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMISION](
	[ID_COMISION] [int] NOT NULL,
	[ID_ALQUILER] [int] NULL,
	[ID_TRANSACCION] [int] NULL,
	[PORCENTAJE_COMISION] [char](10) NULL,
	[__ID_TRANSACCION] [int] NULL,
 CONSTRAINT [PK_COMISION] PRIMARY KEY CLUSTERED 
(
	[ID_COMISION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMISION_EMPLEADO]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMISION_EMPLEADO](
	[ID_COMISION_EMPLEADO] [int] NOT NULL,
	[IDPAGO] [int] NULL,
	[ID_COMISION] [int] NULL,
	[PORCENTAJE_COMISION] [char](10) NULL,
	[FECHA_COMISION] [datetime] NULL,
 CONSTRAINT [PK_COMISION_EMPLEADO_1] PRIMARY KEY CLUSTERED 
(
	[ID_COMISION_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTRATO]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRATO](
	[ID_CONTRATO] [int] NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_INTERES] [int] NULL,
	[ID_EMPLEADO] [int] NULL,
	[FECHA_CONTRATO] [datetime] NULL,
	[HORA_CONTRATO] [datetime] NULL,
	[PRESUPUESTO] [int] NULL,
	[TIPO_ADQUISICION] [varchar](50) NULL,
	[DESCRIPCION_CONTRATO] [varchar](50) NULL,
 CONSTRAINT [PK_CONTRATO_1] PRIMARY KEY CLUSTERED 
(
	[ID_CONTRATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[ID_INMUEBLE] [int] NOT NULL,
	[ID_DEPARTAMENTO] [int] NOT NULL,
	[ID_UBICACION] [int] NULL,
	[ID_ADQUISICION] [int] NULL,
	[ID_DOCUMENTO] [int] NULL,
	[DESCRIP_INMUEBLE] [varchar](50) NULL,
	[ESTADO] [varchar](50) NULL,
	[SERVICIOS_BASICOS] [varchar](100) NULL,
	[HABITACIONES] [int] NULL,
	[BANOS] [int] NULL,
	[NIVEL_DEPARTAMENTO] [int] NULL,
	[DESCRIPCION_DEPARTAMENTO] [varchar](100) NULL,
	[ASCENSOR] [bit] NULL,
	[ESTACIONAMIENTO] [bit] NULL,
 CONSTRAINT [PK_DEPARTAMENTO] PRIMARY KEY CLUSTERED 
(
	[ID_INMUEBLE] ASC,
	[ID_DEPARTAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTACION]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTACION](
	[ID_DOCUMENTO] [int] NOT NULL,
	[ID_INMUEBLE] [int] NULL,
	[RESPALDO_DOC] [varchar](50) NULL,
	[FECHA_VIGENCIA] [datetime] NULL,
	[ID_RESGISTRO_CATASTRAL_DOC] [int] NULL,
	[MINUTA_TRANSFERENCIA] [varchar](50) NULL,
	[IMPUESTOS] [varchar](50) NULL,
	[OBSERVACIONES] [varchar](100) NULL,
 CONSTRAINT [PK_DOCUMENTACION] PRIMARY KEY CLUSTERED 
(
	[ID_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[ID_EMPLEADO] [int] NOT NULL,
	[CI_EMPLEADO] [int] NULL,
	[NOMBREEMPLEADO] [varchar](50) NULL,
	[DIRECCION_EMPLEADO] [varchar](100) NULL,
	[TELF_EMPLEADO] [int] NULL,
	[FECHA_NACIMIENTO_EMPLEADO] [datetime] NULL,
 CONSTRAINT [PK_EMPLEADOS] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GARZOINER]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GARZOINER](
	[ID_INMUEBLE] [int] NOT NULL,
	[ID_GARZONIER] [int] NOT NULL,
	[ID_UBICACION] [int] NULL,
	[ID_ADQUISICION] [int] NULL,
	[ID_DOCUMENTO] [int] NULL,
	[DESCRIP_INMUEBLE] [varchar](50) NULL,
	[ESTADO] [varchar](50) NULL,
	[SERVICIOS_BASICOS] [varchar](100) NULL,
	[SUPERFICIE] [int] NULL,
	[DESCRIPCION_GARZONIER] [varchar](100) NULL,
 CONSTRAINT [PK_GARZOINER] PRIMARY KEY CLUSTERED 
(
	[ID_INMUEBLE] ASC,
	[ID_GARZONIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIAL]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL](
	[IDHISTORIAL] [int] NOT NULL,
	[ID_ADQUISICION] [int] NULL,
	[OFERTAANTERIOR] [int] NOT NULL,
	[FECHAINIOFERTA] [datetime] NOT NULL,
	[FECHAFINOFERTA] [datetime] NOT NULL,
	[OBSERVACION] [varchar](50) NULL,
 CONSTRAINT [PK_HISTORIAL] PRIMARY KEY CLUSTERED 
(
	[IDHISTORIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGENES]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGENES](
	[ID_IMAGEN] [int] NOT NULL,
	[ID_INMUEBLE] [int] NULL,
	[FORMATO_IMAGEN] [image] NULL,
	[RESOLUCION_PIXEL] [int] NULL,
	[FECHA_IMAGEN] [datetime] NULL,
 CONSTRAINT [PK_IMAGENES] PRIMARY KEY CLUSTERED 
(
	[ID_IMAGEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INMUEBLE]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INMUEBLE](
	[ID_INMUEBLE] [int] NOT NULL,
	[ID_UBICACION] [int] NULL,
	[ID_ADQUISICION] [int] NULL,
	[ID_DOCUMENTO] [int] NULL,
	[DESCRIP_INMUEBLE] [varchar](50) NULL,
	[ESTADO] [varchar](50) NULL,
	[SERVICIOS_BASICOS] [varchar](100) NULL,
 CONSTRAINT [PK_INMUEBLE] PRIMARY KEY CLUSTERED 
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERES]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERES](
	[ID_INTERES] [int] NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[IDESPECIFICOS] [int] NULL,
	[TIPO_INMUEBLE] [varchar](50) NULL,
	[__ZONA_] [varchar](50) NULL,
	[PRESUPUESTO] [int] NULL,
	[TIPO_OFERTA] [varchar](50) NULL,
	[ID_CONTRATO] [int] NULL,
 CONSTRAINT [PK_INTERES_1] PRIMARY KEY CLUSTERED 
(
	[ID_INTERES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERESES_ESPECIFICOS]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERESES_ESPECIFICOS](
	[IDESPECIFICOS] [int] NOT NULL,
	[ID_INTERES] [int] NULL,
	[NUMDORMITORIOS] [int] NULL,
	[NUMBANOS] [int] NULL,
	[GARAJE] [bit] NULL,
	[JARDIN] [bit] NULL,
	[SERVICIOS_BASICOS] [varchar](100) NULL,
	[ASCENSOR] [bit] NULL,
	[ESTACIONAMIENTO] [bit] NULL,
 CONSTRAINT [PK_INTERESES_ESPECIFICOS] PRIMARY KEY CLUSTERED 
(
	[IDESPECIFICOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOTE]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOTE](
	[ID_INMUEBLE] [int] NOT NULL,
	[ID_LOTE] [int] NOT NULL,
	[ID_UBICACION] [int] NULL,
	[ID_ADQUISICION] [int] NULL,
	[ID_DOCUMENTO] [int] NULL,
	[DESCRIP_INMUEBLE] [varchar](50) NULL,
	[ESTADO] [varchar](50) NULL,
	[SERVICIOS_BASICOS] [varchar](100) NULL,
	[SUPERFICIE_M2] [int] NULL,
	[DESCRIPCION_LOTE] [varchar](100) NULL,
 CONSTRAINT [PK_LOTE] PRIMARY KEY CLUSTERED 
(
	[ID_INMUEBLE] ASC,
	[ID_LOTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OFERTA]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFERTA](
	[ID_ADQUISICION] [int] NOT NULL,
	[ID_INMUEBLE] [int] NULL,
	[ID_EMPLEADO] [int] NULL,
	[FECHA_INICIO] [datetime] NULL,
	[FECHA_FIN] [datetime] NULL,
	[TIPOOFERTA] [varchar](50) NULL,
	[OFERTAACTUAL] [int] NULL,
	[IDHISTORIAL] [int] NULL,
 CONSTRAINT [PK_OFERTA] PRIMARY KEY CLUSTERED 
(
	[ID_ADQUISICION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTROS]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTROS](
	[ID_INMUEBLE] [int] NOT NULL,
	[ID_UBICACION] [int] NULL,
	[ID_ADQUISICION] [int] NULL,
	[ID_DOCUMENTO] [int] NULL,
	[DESCRIP_INMUEBLE] [varchar](50) NULL,
	[ESTADO] [varchar](50) NULL,
	[SERVICIOS_BASICOS] [varchar](100) NULL,
	[TIPO_INMUEBLE] [varchar](50) NULL,
	[DESCRIPCION] [varchar](100) NULL,
 CONSTRAINT [PK_OTROS_1] PRIMARY KEY CLUSTERED 
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO_SALARIO]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO_SALARIO](
	[IDPAGO] [int] NOT NULL,
	[ID_SUCURSAL] [int] NULL,
	[ID_EMPLEADO] [int] NULL,
	[MONTOTOTAL] [float] NOT NULL,
	[FECHAPAGO] [datetime] NOT NULL,
	[HORAPAGO] [datetime] NOT NULL,
	[OBSERVACIONPAGO] [varchar](50) NULL,
 CONSTRAINT [PK_PAGO_SALARIO] PRIMARY KEY CLUSTERED 
(
	[IDPAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSEE]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSEE](
	[ID_INMUEBLE] [int] NOT NULL,
	[ID_PROPIETARIO] [int] NOT NULL,
 CONSTRAINT [PK_POSEE] PRIMARY KEY CLUSTERED 
(
	[ID_INMUEBLE] ASC,
	[ID_PROPIETARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROPIETARIO]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPIETARIO](
	[ID_PROPIETARIO] [int] NOT NULL,
	[ID_SUCURSAL] [int] NULL,
	[CI_PROPIETARIO] [int] NULL,
	[NOMBRE] [varchar](50) NULL,
	[DIRECCION] [char](100) NULL,
	[TELEFONO_PROPIETARIO] [int] NULL,
	[CELULAR_PROPIETARIO] [int] NULL,
	[CORREO_PROPIETARIO] [varchar](50) NULL,
	[PUBLICACION_REDES] [bit] NULL,
 CONSTRAINT [PK_PROPIETARIO] PRIMARY KEY CLUSTERED 
(
	[ID_PROPIETARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLICIDAD]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLICIDAD](
	[ID_PUBLICIDAD] [int] NOT NULL,
	[ID_INMUEBLE] [int] NULL,
	[ID_SUCURSAL] [int] NULL,
	[TIPO_PUBLICIDAD] [varchar](50) NULL,
	[FECHAINICIOPUBLICIDAD] [datetime] NULL,
	[FECHAFINPUBLICIDAD] [datetime] NULL,
	[DESCRIPPUBLICIDAD] [varchar](100) NULL,
	[PRECIOPUBLICIDAD] [float] NOT NULL,
 CONSTRAINT [PK_PUBLICIDAD] PRIMARY KEY CLUSTERED 
(
	[ID_PUBLICIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[ID_SUCURSAL] [int] NOT NULL,
	[DIRECCION_SUCURSAL] [varchar](50) NULL,
	[DESCRIPCIONSUCURSAL] [varchar](100) NULL,
 CONSTRAINT [PK_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONO]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONO](
	[IDTELEFONO] [int] NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[TIPOTELF] [varchar](50) NULL,
	[NUMTELF] [int] NULL,
	[OBSERVACION] [varchar](50) NULL,
 CONSTRAINT [PK_TELEFONO] PRIMARY KEY CLUSTERED 
(
	[IDTELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACCION]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACCION](
	[ID_ALQUILER] [int] NOT NULL,
	[ID_TRANSACCION] [int] NOT NULL,
	[ID_COMISION] [int] NULL,
	[ID_EMPLEADO] [int] NULL,
	[ID_PROPIETARIO] [int] NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_INMUEBLE] [int] NULL,
	[FECHA_INICIO] [datetime] NULL,
	[FECHA_PAGO] [datetime] NULL,
	[CONDICIONES_PAGO] [varchar](50) NULL,
	[OBSERVACIONES_ALQUILER] [varchar](100) NULL,
	[FECHA_TRANSACCION] [datetime] NULL,
	[DESCRIPCION_TRANSACCION] [varchar](100) NULL,
	[TIPO_TRANSACCION] [varchar](50) NULL,
	[DETALLE_TRANSACCION] [varchar](100) NULL,
 CONSTRAINT [PK_TRANSACCION_1] PRIMARY KEY CLUSTERED 
(
	[ID_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UBICACION]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UBICACION](
	[ID_UBICACION] [int] NOT NULL,
	[ID_INMUEBLE] [int] NULL,
	[ZONA] [varchar](50) NULL,
	[CALLE_PRINCIPAL] [varchar](50) NULL,
	[CALLE_COLINDANTE1] [varchar](50) NULL,
	[CALLE_COLINDANTE2] [varchar](50) NULL,
	[ENLACE_GOOGLEMAPS] [varchar](100) NULL,
	[OBSERVACIONES] [varchar](100) NULL,
 CONSTRAINT [PK_UBICACION] PRIMARY KEY CLUSTERED 
(
	[ID_UBICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[ID_ALQUILER] [int] NOT NULL,
	[ID_VENTA] [int] NOT NULL,
	[FECHA_INICIO] [datetime] NULL,
	[FECHA_PAGO] [datetime] NULL,
	[CONDICIONES_PAGO] [varchar](50) NULL,
	[OBSERVACIONES_ALQUILER] [varchar](100) NULL,
	[FECHA_VENTA] [datetime] NULL,
	[CONDICIONES_VENTA] [varchar](50) NULL,
	[HORA_VENTA] [datetime] NULL,
	[OBSERVACION] [varchar](50) NULL,
 CONSTRAINT [PK_VENTA_1] PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIDEOS]    Script Date: 11/6/2023 19:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIDEOS](
	[ID_VIDEO] [int] NOT NULL,
	[ID_INMUEBLE] [int] NULL,
	[VIDEO_FORMATO_MP4] [image] NULL,
	[FECHA_VIDEO] [datetime] NULL,
	[DESCRIPCION_VIDEO] [varchar](100) NULL,
 CONSTRAINT [PK_VIDEOS] PRIMARY KEY CLUSTERED 
(
	[ID_VIDEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ALQUILER] ([ID_ALQUILER], [FECHA_INICIO], [FECHA_PAGO], [CONDICIONES_PAGO], [OBSERVACIONES_ALQUILER]) VALUES (1, CAST(N'2022-09-23T00:00:00.000' AS DateTime), CAST(N'2023-01-08T00:00:00.000' AS DateTime), N'determinar en el contrato el uso específico', N'no está obligado a dar al inquilino un tiempo de gracia')
INSERT [dbo].[ALQUILER] ([ID_ALQUILER], [FECHA_INICIO], [FECHA_PAGO], [CONDICIONES_PAGO], [OBSERVACIONES_ALQUILER]) VALUES (2, CAST(N'2022-12-23T00:00:00.000' AS DateTime), CAST(N'2022-05-22T00:00:00.000' AS DateTime), N'determinar en el contrato el uso específico', N'no está obligado a dar al inquilino un tiempo de gracia')
INSERT [dbo].[ALQUILER] ([ID_ALQUILER], [FECHA_INICIO], [FECHA_PAGO], [CONDICIONES_PAGO], [OBSERVACIONES_ALQUILER]) VALUES (3, CAST(N'2022-05-23T00:00:00.000' AS DateTime), CAST(N'2022-11-15T00:00:00.000' AS DateTime), N'codiciones de entrega la vivienda', N'El pintado y las reparaciones en general')
GO
INSERT [dbo].[CASA] ([ID_INMUEBLE], [ID_CASA], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS], [HABITACIONES], [BANOS], [COCINAS], [SALAS], [PISOS], [JARDIN], [GARAJE]) VALUES (1, 1, 1, 1, 1, N'se compone de varias habitaciones', N'Nuevo', N'SI', 3, 1, 2, 1, 2, 1, 1)
INSERT [dbo].[CASA] ([ID_INMUEBLE], [ID_CASA], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS], [HABITACIONES], [BANOS], [COCINAS], [SALAS], [PISOS], [JARDIN], [GARAJE]) VALUES (2, 2, 2, 2, 2, N'se compone de varias habitaciones', N'Nuevo', N'SI', 5, 1, 1, 2, 1, 1, 1)
INSERT [dbo].[CASA] ([ID_INMUEBLE], [ID_CASA], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS], [HABITACIONES], [BANOS], [COCINAS], [SALAS], [PISOS], [JARDIN], [GARAJE]) VALUES (3, 3, 3, 3, 3, N'se compone de varias habitaciones', N'Necesita reparaciones menores', N'SI', 2, 3, 1, 1, 1, 1, 1)
GO
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [ID_SUCURSAL], [CI_CLIENTE], [NOMBRE_COMPLETO], [DIRECCION_CLIENTE], [CORREO_CLIENTE]) VALUES (1, 1, 13857475, N'Valeria González
', N'Avenida Arce', N'emma.gonzalez74@gmail.com                         ')
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [ID_SUCURSAL], [CI_CLIENTE], [NOMBRE_COMPLETO], [DIRECCION_CLIENTE], [CORREO_CLIENTE]) VALUES (2, 2, 78845345, N'Carlos Santos
', N'Calle Tarija
', N'gabriel.wright16@outlook.com                      ')
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [ID_SUCURSAL], [CI_CLIENTE], [NOMBRE_COMPLETO], [DIRECCION_CLIENTE], [CORREO_CLIENTE]) VALUES (3, 3, 34534534, N'Ana Flores
', N'Avenida Ballivián
', N'mia.kelly63@yahoo.com                             ')
GO
INSERT [dbo].[COMISION] ([ID_COMISION], [ID_ALQUILER], [ID_TRANSACCION], [PORCENTAJE_COMISION], [__ID_TRANSACCION]) VALUES (1, 1, 1, N'5%        ', 1)
INSERT [dbo].[COMISION] ([ID_COMISION], [ID_ALQUILER], [ID_TRANSACCION], [PORCENTAJE_COMISION], [__ID_TRANSACCION]) VALUES (2, 2, 2, N'5%        ', 2)
INSERT [dbo].[COMISION] ([ID_COMISION], [ID_ALQUILER], [ID_TRANSACCION], [PORCENTAJE_COMISION], [__ID_TRANSACCION]) VALUES (3, 3, 3, N'5%        ', 3)
GO
INSERT [dbo].[COMISION_EMPLEADO] ([ID_COMISION_EMPLEADO], [IDPAGO], [ID_COMISION], [PORCENTAJE_COMISION], [FECHA_COMISION]) VALUES (1, 1, 1, N'5%        ', CAST(N'2023-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[COMISION_EMPLEADO] ([ID_COMISION_EMPLEADO], [IDPAGO], [ID_COMISION], [PORCENTAJE_COMISION], [FECHA_COMISION]) VALUES (2, 2, 2, N'5%        ', CAST(N'2023-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[COMISION_EMPLEADO] ([ID_COMISION_EMPLEADO], [IDPAGO], [ID_COMISION], [PORCENTAJE_COMISION], [FECHA_COMISION]) VALUES (3, 3, 3, N'5%        ', CAST(N'2023-01-01T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[CONTRATO] ([ID_CONTRATO], [ID_CLIENTE], [ID_INTERES], [ID_EMPLEADO], [FECHA_CONTRATO], [HORA_CONTRATO], [PRESUPUESTO], [TIPO_ADQUISICION], [DESCRIPCION_CONTRATO]) VALUES (1, 1, 1, 1, CAST(N'2023-01-01T00:00:00.000' AS DateTime), CAST(N'2023-01-01T00:00:00.000' AS DateTime), 300, N'Alquiler', N'romoción de la propiedad')
INSERT [dbo].[CONTRATO] ([ID_CONTRATO], [ID_CLIENTE], [ID_INTERES], [ID_EMPLEADO], [FECHA_CONTRATO], [HORA_CONTRATO], [PRESUPUESTO], [TIPO_ADQUISICION], [DESCRIPCION_CONTRATO]) VALUES (2, 2, 2, 2, CAST(N'2023-01-01T00:00:00.000' AS DateTime), CAST(N'2023-01-01T00:00:00.000' AS DateTime), 500, N'Anticretico', N'Duración del contrato')
INSERT [dbo].[CONTRATO] ([ID_CONTRATO], [ID_CLIENTE], [ID_INTERES], [ID_EMPLEADO], [FECHA_CONTRATO], [HORA_CONTRATO], [PRESUPUESTO], [TIPO_ADQUISICION], [DESCRIPCION_CONTRATO]) VALUES (3, 3, 3, 3, CAST(N'2023-01-01T00:00:00.000' AS DateTime), CAST(N'2023-01-01T00:00:00.000' AS DateTime), 200, N'Venta', N'romoción de la propiedad')
GO
INSERT [dbo].[DEPARTAMENTO] ([ID_INMUEBLE], [ID_DEPARTAMENTO], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS], [HABITACIONES], [BANOS], [NIVEL_DEPARTAMENTO], [DESCRIPCION_DEPARTAMENTO], [ASCENSOR], [ESTACIONAMIENTO]) VALUES (1, 1, 1, 1, 1, N'tiene una distribución eficiente del espacio', N'Disponible', N'SI', 5, 1, 3, N'tiene áreas privadas y áreas comunes', 1, 1)
INSERT [dbo].[DEPARTAMENTO] ([ID_INMUEBLE], [ID_DEPARTAMENTO], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS], [HABITACIONES], [BANOS], [NIVEL_DEPARTAMENTO], [DESCRIPCION_DEPARTAMENTO], [ASCENSOR], [ESTACIONAMIENTO]) VALUES (2, 2, 2, 2, 2, N'tiene una distribución eficiente del espacio', N'Alquilado', N'SI', 4, 1, 3, N'tiene áreas privadas y áreas comunes', 1, 1)
INSERT [dbo].[DEPARTAMENTO] ([ID_INMUEBLE], [ID_DEPARTAMENTO], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS], [HABITACIONES], [BANOS], [NIVEL_DEPARTAMENTO], [DESCRIPCION_DEPARTAMENTO], [ASCENSOR], [ESTACIONAMIENTO]) VALUES (3, 3, 3, 3, 3, N'tiene una distribución eficiente del espacio', N'En reparación o mantenimiento', N'NO', 3, 1, 3, N'tiene áreas privadas y áreas comunes', 0, 0)
GO
INSERT [dbo].[DOCUMENTACION] ([ID_DOCUMENTO], [ID_INMUEBLE], [RESPALDO_DOC], [FECHA_VIGENCIA], [ID_RESGISTRO_CATASTRAL_DOC], [MINUTA_TRANSFERENCIA], [IMPUESTOS], [OBSERVACIONES]) VALUES (1, 1, N'Contrato compraventa,título propiedada', CAST(N'2023-01-01T00:00:00.000' AS DateTime), 1, N'Archivos adjuntos', N'Pagados', N'Todo Completo')
INSERT [dbo].[DOCUMENTACION] ([ID_DOCUMENTO], [ID_INMUEBLE], [RESPALDO_DOC], [FECHA_VIGENCIA], [ID_RESGISTRO_CATASTRAL_DOC], [MINUTA_TRANSFERENCIA], [IMPUESTOS], [OBSERVACIONES]) VALUES (2, 2, N'Contrato compraventa,título propiedada', CAST(N'2023-01-01T00:00:00.000' AS DateTime), 2, N'Archivos adjuntos', N'Por Pagar', N'Pagar Impuestos')
INSERT [dbo].[DOCUMENTACION] ([ID_DOCUMENTO], [ID_INMUEBLE], [RESPALDO_DOC], [FECHA_VIGENCIA], [ID_RESGISTRO_CATASTRAL_DOC], [MINUTA_TRANSFERENCIA], [IMPUESTOS], [OBSERVACIONES]) VALUES (3, 3, N'2-815 - Fountains', CAST(N'2023-01-01T00:00:00.000' AS DateTime), 3, N'14-800 - Scaffolding', N'12-300 - Manufactured Casework', N'13-220 - Filter Underdrains and Media')
GO
INSERT [dbo].[EMPLEADOS] ([ID_EMPLEADO], [CI_EMPLEADO], [NOMBREEMPLEADO], [DIRECCION_EMPLEADO], [TELF_EMPLEADO], [FECHA_NACIMIENTO_EMPLEADO]) VALUES (1, 13099778, N'Sofia Perez Valdez', N'Calle Arce #1024', 13099738, CAST(N'2023-01-02T00:00:00.000' AS DateTime))
INSERT [dbo].[EMPLEADOS] ([ID_EMPLEADO], [CI_EMPLEADO], [NOMBREEMPLEADO], [DIRECCION_EMPLEADO], [TELF_EMPLEADO], [FECHA_NACIMIENTO_EMPLEADO]) VALUES (2, 45646563, N'Diego Rodriguez Vega', N'Avenida San Martin #567', 45624452, CAST(N'2023-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[EMPLEADOS] ([ID_EMPLEADO], [CI_EMPLEADO], [NOMBREEMPLEADO], [DIRECCION_EMPLEADO], [TELF_EMPLEADO], [FECHA_NACIMIENTO_EMPLEADO]) VALUES (3, 41654654, N'Valentina Martinez Rios', N'Calle Ingavi #789', 12315645, CAST(N'2023-01-03T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[GARZOINER] ([ID_INMUEBLE], [ID_GARZONIER], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS], [SUPERFICIE], [DESCRIPCION_GARZONIER]) VALUES (1, 1, 1, 1, 1, N'tipo de vivienda que consiste en un solo ambiente', N'Bueno', N'SI', 20, N' se caracteriza por ser un departamento pequeño')
INSERT [dbo].[GARZOINER] ([ID_INMUEBLE], [ID_GARZONIER], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS], [SUPERFICIE], [DESCRIPCION_GARZONIER]) VALUES (2, 2, 2, 2, 2, N'tipo de vivienda que consiste en un solo ambiente', N'Regular', N'NO', 35, N' se caracteriza por ser un departamento pequeño')
INSERT [dbo].[GARZOINER] ([ID_INMUEBLE], [ID_GARZONIER], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS], [SUPERFICIE], [DESCRIPCION_GARZONIER]) VALUES (3, 3, 3, 3, 3, N'tipo de vivienda que consiste en un solo ambiente', N'Mal estado', N'NO', 40, N' se caracteriza por ser un departamento pequeño')
GO
INSERT [dbo].[HISTORIAL] ([IDHISTORIAL], [ID_ADQUISICION], [OFERTAANTERIOR], [FECHAINIOFERTA], [FECHAFINOFERTA], [OBSERVACION]) VALUES (1, 1, 1, CAST(N'2022-01-01T00:00:00.000' AS DateTime), CAST(N'2023-01-02T00:00:00.000' AS DateTime), N'Propiedades disponibles y lientes atendidos')
INSERT [dbo].[HISTORIAL] ([IDHISTORIAL], [ID_ADQUISICION], [OFERTAANTERIOR], [FECHAINIOFERTA], [FECHAFINOFERTA], [OBSERVACION]) VALUES (2, 2, 2, CAST(N'2022-01-05T00:00:00.000' AS DateTime), CAST(N'2023-01-02T00:00:00.000' AS DateTime), N'Clientes atendidos y Propiedades vendidas ')
INSERT [dbo].[HISTORIAL] ([IDHISTORIAL], [ID_ADQUISICION], [OFERTAANTERIOR], [FECHAINIOFERTA], [FECHAFINOFERTA], [OBSERVACION]) VALUES (3, 3, 3, CAST(N'2022-01-04T00:00:00.000' AS DateTime), CAST(N'2023-01-03T00:00:00.000' AS DateTime), N'Clientes atendidos y Propiedades vendidas ')
GO
INSERT [dbo].[INMUEBLE] ([ID_INMUEBLE], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS]) VALUES (1, 1, 1, 1, N' detalles sobre su ubicación, dimensiones', N' mal estado', N'NO')
INSERT [dbo].[INMUEBLE] ([ID_INMUEBLE], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS]) VALUES (2, 2, 2, 2, N' detalles sobre su ubicación, dimensiones', N' mal estado', N'NO')
INSERT [dbo].[INMUEBLE] ([ID_INMUEBLE], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS]) VALUES (3, 3, 3, 3, N' detalles sobre su ubicación, dimensiones', N' mal estado', N'NO')
GO
INSERT [dbo].[INTERES] ([ID_INTERES], [ID_CLIENTE], [IDESPECIFICOS], [TIPO_INMUEBLE], [__ZONA_], [PRESUPUESTO], [TIPO_OFERTA], [ID_CONTRATO]) VALUES (1, 1, 1, N'CASA', N'central', 1, N'Alquiler', 1)
INSERT [dbo].[INTERES] ([ID_INTERES], [ID_CLIENTE], [IDESPECIFICOS], [TIPO_INMUEBLE], [__ZONA_], [PRESUPUESTO], [TIPO_OFERTA], [ID_CONTRATO]) VALUES (2, 2, 2, N'OTROS', N'norte', 2, N'Alquiler', 2)
INSERT [dbo].[INTERES] ([ID_INTERES], [ID_CLIENTE], [IDESPECIFICOS], [TIPO_INMUEBLE], [__ZONA_], [PRESUPUESTO], [TIPO_OFERTA], [ID_CONTRATO]) VALUES (3, 3, 3, N'DEPARTAMENTO', N'sur', 3, N'Anticretico', 3)
GO
INSERT [dbo].[INTERESES_ESPECIFICOS] ([IDESPECIFICOS], [ID_INTERES], [NUMDORMITORIOS], [NUMBANOS], [GARAJE], [JARDIN], [SERVICIOS_BASICOS], [ASCENSOR], [ESTACIONAMIENTO]) VALUES (1, 1, 2, 3, 1, 0, N'SI', 1, 0)
INSERT [dbo].[INTERESES_ESPECIFICOS] ([IDESPECIFICOS], [ID_INTERES], [NUMDORMITORIOS], [NUMBANOS], [GARAJE], [JARDIN], [SERVICIOS_BASICOS], [ASCENSOR], [ESTACIONAMIENTO]) VALUES (2, 2, 2, 2, 1, 1, N'NO', 1, 1)
INSERT [dbo].[INTERESES_ESPECIFICOS] ([IDESPECIFICOS], [ID_INTERES], [NUMDORMITORIOS], [NUMBANOS], [GARAJE], [JARDIN], [SERVICIOS_BASICOS], [ASCENSOR], [ESTACIONAMIENTO]) VALUES (3, 3, 3, 3, 1, 1, N'SI', 1, 0)
GO
INSERT [dbo].[LOTE] ([ID_INMUEBLE], [ID_LOTE], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS], [SUPERFICIE_M2], [DESCRIPCION_LOTE]) VALUES (1, 1, 1, 1, 1, N'urbanizados y contar con servicios básicos', N'En Venta', N'SI', 500, N'construir una casa, un edificio, un negocio')
INSERT [dbo].[LOTE] ([ID_INMUEBLE], [ID_LOTE], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS], [SUPERFICIE_M2], [DESCRIPCION_LOTE]) VALUES (2, 2, 2, 2, 2, N'urbanizados y contar con servicios básicos', N'En Venta', N'SI', 200, N'construir una casa, un edificio, un negocio')
INSERT [dbo].[LOTE] ([ID_INMUEBLE], [ID_LOTE], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS], [SUPERFICIE_M2], [DESCRIPCION_LOTE]) VALUES (3, 3, 3, 3, 3, N'urbanizados y contar con servicios básicos', N'En Venta', N'SI', 200, N'construir una casa, un edificio, un negocio')
GO
INSERT [dbo].[OFERTA] ([ID_ADQUISICION], [ID_INMUEBLE], [ID_EMPLEADO], [FECHA_INICIO], [FECHA_FIN], [TIPOOFERTA], [OFERTAACTUAL], [IDHISTORIAL]) VALUES (1, 1, 1, CAST(N'2022-05-04T00:00:00.000' AS DateTime), CAST(N'2023-05-04T00:00:00.000' AS DateTime), N'Venta', 200, 1)
INSERT [dbo].[OFERTA] ([ID_ADQUISICION], [ID_INMUEBLE], [ID_EMPLEADO], [FECHA_INICIO], [FECHA_FIN], [TIPOOFERTA], [OFERTAACTUAL], [IDHISTORIAL]) VALUES (2, 2, 2, CAST(N'2022-05-04T00:00:00.000' AS DateTime), CAST(N'2023-05-04T00:00:00.000' AS DateTime), N'Alquiler', 350, 2)
INSERT [dbo].[OFERTA] ([ID_ADQUISICION], [ID_INMUEBLE], [ID_EMPLEADO], [FECHA_INICIO], [FECHA_FIN], [TIPOOFERTA], [OFERTAACTUAL], [IDHISTORIAL]) VALUES (3, 3, 3, CAST(N'2022-05-04T00:00:00.000' AS DateTime), CAST(N'2023-05-04T00:00:00.000' AS DateTime), N'Anticretico', 250, 3)
GO
INSERT [dbo].[OTROS] ([ID_INMUEBLE], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS], [TIPO_INMUEBLE], [DESCRIPCION]) VALUES (1, 1, 1, 1, N'necesidades y requerimientos de los compradores', N'baldío ', N'SI', N'Venta', N'área de tierra que no ha sido desarrollada o construida')
INSERT [dbo].[OTROS] ([ID_INMUEBLE], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS], [TIPO_INMUEBLE], [DESCRIPCION]) VALUES (2, 2, 2, 2, N'necesidades y requerimientos de los compradores', N'en proceso de urbanización', N'NO', N'Alquiler', N'es una propiedad rural')
INSERT [dbo].[OTROS] ([ID_INMUEBLE], [ID_UBICACION], [ID_ADQUISICION], [ID_DOCUMENTO], [DESCRIP_INMUEBLE], [ESTADO], [SERVICIOS_BASICOS], [TIPO_INMUEBLE], [DESCRIPCION]) VALUES (3, 3, 3, 3, N'necesidades y requerimientos de los compradores', N'con uso específico', N'NO', N'Anticretico', N'es una propiedad rural')
GO
INSERT [dbo].[PAGO_SALARIO] ([IDPAGO], [ID_SUCURSAL], [ID_EMPLEADO], [MONTOTOTAL], [FECHAPAGO], [HORAPAGO], [OBSERVACIONPAGO]) VALUES (1, 1, 1, 100, CAST(N'2023-01-04T00:00:00.000' AS DateTime), CAST(N'2023-01-04T00:00:00.000' AS DateTime), N'El pago en fechas acordadas')
INSERT [dbo].[PAGO_SALARIO] ([IDPAGO], [ID_SUCURSAL], [ID_EMPLEADO], [MONTOTOTAL], [FECHAPAGO], [HORAPAGO], [OBSERVACIONPAGO]) VALUES (2, 2, 2, 150, CAST(N'2023-01-04T00:00:00.000' AS DateTime), CAST(N'2023-01-04T00:00:00.000' AS DateTime), N'suele acordar en un contrato laboral')
INSERT [dbo].[PAGO_SALARIO] ([IDPAGO], [ID_SUCURSAL], [ID_EMPLEADO], [MONTOTOTAL], [FECHAPAGO], [HORAPAGO], [OBSERVACIONPAGO]) VALUES (3, 3, 3, 120, CAST(N'2023-01-04T00:00:00.000' AS DateTime), CAST(N'2023-01-04T00:00:00.000' AS DateTime), N'suele acordar en un contrato laboral')
GO
INSERT [dbo].[POSEE] ([ID_INMUEBLE], [ID_PROPIETARIO]) VALUES (1, 1)
INSERT [dbo].[POSEE] ([ID_INMUEBLE], [ID_PROPIETARIO]) VALUES (2, 2)
INSERT [dbo].[POSEE] ([ID_INMUEBLE], [ID_PROPIETARIO]) VALUES (3, 3)
GO
INSERT [dbo].[PROPIETARIO] ([ID_PROPIETARIO], [ID_SUCURSAL], [CI_PROPIETARIO], [NOMBRE], [DIRECCION], [TELEFONO_PROPIETARIO], [CELULAR_PROPIETARIO], [CORREO_PROPIETARIO], [PUBLICACION_REDES]) VALUES (1, 1, 58787227, N'Daniel Alejandro Vargas Sánchez
', N'Calle Socabaya                                                                                      ', 4554532, 76865465, N'jrojas35@gmail.com', 1)
INSERT [dbo].[PROPIETARIO] ([ID_PROPIETARIO], [ID_SUCURSAL], [CI_PROPIETARIO], [NOMBRE], [DIRECCION], [TELEFONO_PROPIETARIO], [CELULAR_PROPIETARIO], [CORREO_PROPIETARIO], [PUBLICACION_REDES]) VALUES (2, 2, 35423423, N'Mariana Isabel Muñoz Ramírez
', N'Avenida Villazón                                                                                    ', 4354354, 65856786, N'ashernandez17@hotmail.com', 1)
INSERT [dbo].[PROPIETARIO] ([ID_PROPIETARIO], [ID_SUCURSAL], [CI_PROPIETARIO], [NOMBRE], [DIRECCION], [TELEFONO_PROPIETARIO], [CELULAR_PROPIETARIO], [CORREO_PROPIETARIO], [PUBLICACION_REDES]) VALUES (3, 3, 23414454, N'José Manuel Jiménez Sánchez
', N'Calle Aniceto Arce                                                                                  ', 4353454, 78766546, N'marco.lugo@yahoo.com', 1)
GO
INSERT [dbo].[PUBLICIDAD] ([ID_PUBLICIDAD], [ID_INMUEBLE], [ID_SUCURSAL], [TIPO_PUBLICIDAD], [FECHAINICIOPUBLICIDAD], [FECHAFINPUBLICIDAD], [DESCRIPPUBLICIDAD], [PRECIOPUBLICIDAD]) VALUES (1, 1, 1, N'Anuncios en medios audiovisuales', CAST(N'2022-10-24T00:00:00.000' AS DateTime), CAST(N'2023-01-09T00:00:00.000' AS DateTime), N'Utilizar anuncios en televisión y radio', 200)
INSERT [dbo].[PUBLICIDAD] ([ID_PUBLICIDAD], [ID_INMUEBLE], [ID_SUCURSAL], [TIPO_PUBLICIDAD], [FECHAINICIOPUBLICIDAD], [FECHAFINPUBLICIDAD], [DESCRIPPUBLICIDAD], [PRECIOPUBLICIDAD]) VALUES (2, 2, 2, N'Anuncios en medios audiovisuales', CAST(N'2022-09-20T00:00:00.000' AS DateTime), CAST(N'2023-01-03T00:00:00.000' AS DateTime), N'Utilizar anuncios en televisión y radio', 200)
INSERT [dbo].[PUBLICIDAD] ([ID_PUBLICIDAD], [ID_INMUEBLE], [ID_SUCURSAL], [TIPO_PUBLICIDAD], [FECHAINICIOPUBLICIDAD], [FECHAFINPUBLICIDAD], [DESCRIPPUBLICIDAD], [PRECIOPUBLICIDAD]) VALUES (3, 3, 3, N'Anuncios en medios audiovisuales', CAST(N'2022-03-12T00:00:00.000' AS DateTime), CAST(N'2023-01-09T00:00:00.000' AS DateTime), N'Utilizar anuncios en televisión y radio', 200)
GO
INSERT [dbo].[SUCURSAL] ([ID_SUCURSAL], [DIRECCION_SUCURSAL], [DESCRIPCIONSUCURSAL]) VALUES (1, N'Avenida América, Nº 200, Cochabamba', N'obtener información y asesoramiento ')
INSERT [dbo].[SUCURSAL] ([ID_SUCURSAL], [DIRECCION_SUCURSAL], [DESCRIPCIONSUCURSAL]) VALUES (2, N'Avenida América, Nº 200, Cochabamba', N'obtener información y asesoramiento ')
INSERT [dbo].[SUCURSAL] ([ID_SUCURSAL], [DIRECCION_SUCURSAL], [DESCRIPCIONSUCURSAL]) VALUES (3, N'Avenida Tarija, Nº 1137, Santa Cruz de la Sierra', N'obtener información y asesoramiento ')
GO
INSERT [dbo].[TELEFONO] ([IDTELEFONO], [ID_CLIENTE], [TIPOTELF], [NUMTELF], [OBSERVACION]) VALUES (1, 1, N'celular', 65307556, N'Estado del teléfono')
INSERT [dbo].[TELEFONO] ([IDTELEFONO], [ID_CLIENTE], [TIPOTELF], [NUMTELF], [OBSERVACION]) VALUES (2, 2, N'celular', 43534543, N'Estado del teléfono')
INSERT [dbo].[TELEFONO] ([IDTELEFONO], [ID_CLIENTE], [TIPOTELF], [NUMTELF], [OBSERVACION]) VALUES (3, 3, N'celular', 43534543, N'Estado del teléfono')
GO
INSERT [dbo].[UBICACION] ([ID_UBICACION], [ID_INMUEBLE], [ZONA], [CALLE_PRINCIPAL], [CALLE_COLINDANTE1], [CALLE_COLINDANTE2], [ENLACE_GOOGLEMAPS], [OBSERVACIONES]) VALUES (1, 1, N'central', N'Avenida Montenegro
', N' Avenida Alemania ', N'Avenida Busch', N'https://goo.gl/maps/HHZMgzkv3ATRYa1H8', N'La  zona puede influir en el valor del inmueble')
INSERT [dbo].[UBICACION] ([ID_UBICACION], [ID_INMUEBLE], [ZONA], [CALLE_PRINCIPAL], [CALLE_COLINDANTE1], [CALLE_COLINDANTE2], [ENLACE_GOOGLEMAPS], [OBSERVACIONES]) VALUES (2, 2, N'norte', N'Calle Chuquisaca
', N'Calle Comercio', N'Calle Potosí', N'https://goo.gl/maps/Nxyy4gYUDvtQAZwi6', N'La  zona puede influir en el valor del inmueble')
INSERT [dbo].[UBICACION] ([ID_UBICACION], [ID_INMUEBLE], [ZONA], [CALLE_PRINCIPAL], [CALLE_COLINDANTE1], [CALLE_COLINDANTE2], [ENLACE_GOOGLEMAPS], [OBSERVACIONES]) VALUES (3, 3, N'sur', N'Calle Mercado
', N'Avenida 6 de Agosto', N'Avenida Arce', N'https://goo.gl/maps/FmjkqQf9B7X5ea1Z7', N'La  zona puede influir en el valor del inmueble')
GO
INSERT [dbo].[VENTA] ([ID_ALQUILER], [ID_VENTA], [FECHA_INICIO], [FECHA_PAGO], [CONDICIONES_PAGO], [OBSERVACIONES_ALQUILER], [FECHA_VENTA], [CONDICIONES_VENTA], [HORA_VENTA], [OBSERVACION]) VALUES (1, 1, CAST(N'2023-03-25T00:00:00.000' AS DateTime), CAST(N'2023-04-30T00:00:00.000' AS DateTime), N'propiedad se establece según su valor de mercado', N'no está obligado a dar al inquilino un tiempo de gracia', CAST(N'2023-03-31T00:00:00.000' AS DateTime), N'determinar en el contrato el uso específico', CAST(N'2023-05-04T00:00:00.000' AS DateTime), N'Presentación del inmueble y Visita al inmueble')
INSERT [dbo].[VENTA] ([ID_ALQUILER], [ID_VENTA], [FECHA_INICIO], [FECHA_PAGO], [CONDICIONES_PAGO], [OBSERVACIONES_ALQUILER], [FECHA_VENTA], [CONDICIONES_VENTA], [HORA_VENTA], [OBSERVACION]) VALUES (2, 2, CAST(N'2022-10-23T00:00:00.000' AS DateTime), CAST(N'2022-07-09T00:00:00.000' AS DateTime), N'propiedad se establece según su valor de mercado', N'no está obligado a dar al inquilino un tiempo de gracia', CAST(N'2022-08-23T00:00:00.000' AS DateTime), N'determinar en el contrato el uso específico', CAST(N'2023-05-04T00:00:00.000' AS DateTime), N'Presentación del inmueble y Visita al inmueble')
INSERT [dbo].[VENTA] ([ID_ALQUILER], [ID_VENTA], [FECHA_INICIO], [FECHA_PAGO], [CONDICIONES_PAGO], [OBSERVACIONES_ALQUILER], [FECHA_VENTA], [CONDICIONES_VENTA], [HORA_VENTA], [OBSERVACION]) VALUES (3, 3, CAST(N'2022-10-05T00:00:00.000' AS DateTime), CAST(N'2022-11-13T00:00:00.000' AS DateTime), N'propiedad se establece según su valor de mercado', N'El pintado y las reparaciones en general', CAST(N'2023-02-05T00:00:00.000' AS DateTime), N'codiciones de entrega la vivienda', CAST(N'2023-05-04T00:00:00.000' AS DateTime), N'Presentación del inmueble y Visita al inmueble')
GO
INSERT [dbo].[VIDEOS] ([ID_VIDEO], [ID_INMUEBLE], [VIDEO_FORMATO_MP4], [FECHA_VIDEO], [DESCRIPCION_VIDEO]) VALUES (1, 1, 0x322D373730202D204375726220616E642047757474657273, CAST(N'2022-07-23T00:00:00.000' AS DateTime), N'con excelentes comodidades, incluyendo una amplia sala de estar')
INSERT [dbo].[VIDEOS] ([ID_VIDEO], [ID_INMUEBLE], [VIDEO_FORMATO_MP4], [FECHA_VIDEO], [DESCRIPCION_VIDEO]) VALUES (2, 2, 0x382D363030202D20536B796C6967687473, CAST(N'2022-07-06T00:00:00.000' AS DateTime), N'cuenta con una ubicación privilegiada en un edificio moderno ')
INSERT [dbo].[VIDEOS] ([ID_VIDEO], [ID_INMUEBLE], [VIDEO_FORMATO_MP4], [FECHA_VIDEO], [DESCRIPCION_VIDEO]) VALUES (3, 3, 0x382D343030202D20456E7472616E63657320616E642053746F726566726F6E7473, CAST(N'2022-12-05T00:00:00.000' AS DateTime), N'cuenta con una ubicación privilegiada en un edificio moderno ')
GO
/****** Object:  Index [TIPO3_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [TIPO3_FK] ON [dbo].[ANTICRETICO]
(
	[ID_ALQUILER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIPOS2_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [TIPOS2_FK] ON [dbo].[CASA]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ATIENDE_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [ATIENDE_FK] ON [dbo].[CLIENTE]
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_7_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_7_FK] ON [dbo].[COMISION]
(
	[ID_ALQUILER] ASC,
	[ID_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [DERRIVA_MONTO_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [DERRIVA_MONTO_FK] ON [dbo].[COMISION_EMPLEADO]
(
	[ID_COMISION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_27_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_27_FK] ON [dbo].[COMISION_EMPLEADO]
(
	[IDPAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FIRMA_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [FIRMA_FK] ON [dbo].[CONTRATO]
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [REALIZA_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [REALIZA_FK] ON [dbo].[CONTRATO]
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [SE_EFECTUA_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [SE_EFECTUA_FK] ON [dbo].[CONTRATO]
(
	[ID_INTERES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIPOS_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [TIPOS_FK] ON [dbo].[DEPARTAMENTO]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CUENTA_CON2_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [CUENTA_CON2_FK] ON [dbo].[DOCUMENTACION]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIPOS4_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [TIPOS4_FK] ON [dbo].[GARZOINER]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIENE2_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [TIENE2_FK] ON [dbo].[HISTORIAL]
(
	[ID_ADQUISICION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIENE_IMAGEN_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [TIENE_IMAGEN_FK] ON [dbo].[IMAGENES]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ADQUIERE_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [ADQUIERE_FK] ON [dbo].[INMUEBLE]
(
	[ID_ADQUISICION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CUENTA_CON_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [CUENTA_CON_FK] ON [dbo].[INMUEBLE]
(
	[ID_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UBICADO_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [UBICADO_FK] ON [dbo].[INMUEBLE]
(
	[ID_UBICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ESPECIFICA2_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [ESPECIFICA2_FK] ON [dbo].[INTERES]
(
	[IDESPECIFICOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_10_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_10_FK] ON [dbo].[INTERES]
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ESPECIFICA_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [ESPECIFICA_FK] ON [dbo].[INTERESES_ESPECIFICOS]
(
	[ID_INTERES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIPOS3_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [TIPOS3_FK] ON [dbo].[LOTE]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ADQUIERE2_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [ADQUIERE2_FK] ON [dbo].[OFERTA]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [LLEVA_A_CABO_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [LLEVA_A_CABO_FK] ON [dbo].[OFERTA]
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIPOS5_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [TIPOS5_FK] ON [dbo].[OTROS]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [OTORGA_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [OTORGA_FK] ON [dbo].[PAGO_SALARIO]
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RECIBE_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [RECIBE_FK] ON [dbo].[PAGO_SALARIO]
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [POSEE_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [POSEE_FK] ON [dbo].[POSEE]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [POSEE2_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [POSEE2_FK] ON [dbo].[POSEE]
(
	[ID_PROPIETARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ASOCIA_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [ASOCIA_FK] ON [dbo].[PROPIETARIO]
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CUENTA_CON1_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [CUENTA_CON1_FK] ON [dbo].[PUBLICIDAD]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PUBLICITA_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [PUBLICITA_FK] ON [dbo].[PUBLICIDAD]
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [21_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [21_FK] ON [dbo].[TELEFONO]
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ELABORA_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [ELABORA_FK] ON [dbo].[TRANSACCION]
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PAGA_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [PAGA_FK] ON [dbo].[TRANSACCION]
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PARTICIPA_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [PARTICIPA_FK] ON [dbo].[TRANSACCION]
(
	[ID_PROPIETARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_8_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_8_FK] ON [dbo].[TRANSACCION]
(
	[ID_COMISION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIENE_2_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [TIENE_2_FK] ON [dbo].[TRANSACCION]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIPO_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [TIPO_FK] ON [dbo].[TRANSACCION]
(
	[ID_ALQUILER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UBICADO2_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [UBICADO2_FK] ON [dbo].[UBICACION]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIPO2_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [TIPO2_FK] ON [dbo].[VENTA]
(
	[ID_ALQUILER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIENE_VIDEO_FK]    Script Date: 11/6/2023 19:49:11 ******/
CREATE NONCLUSTERED INDEX [TIENE_VIDEO_FK] ON [dbo].[VIDEOS]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ANTICRETICO]  WITH CHECK ADD  CONSTRAINT [FK_ANTICRET_TIPO3_ALQUILER] FOREIGN KEY([ID_ALQUILER])
REFERENCES [dbo].[ALQUILER] ([ID_ALQUILER])
GO
ALTER TABLE [dbo].[ANTICRETICO] CHECK CONSTRAINT [FK_ANTICRET_TIPO3_ALQUILER]
GO
ALTER TABLE [dbo].[CASA]  WITH CHECK ADD  CONSTRAINT [FK_CASA_TIPOS2_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[CASA] CHECK CONSTRAINT [FK_CASA_TIPOS2_INMUEBLE]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_ATIENDE_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_ATIENDE_SUCURSAL]
GO
ALTER TABLE [dbo].[COMISION_EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_COMISION_DERRIVA_M_COMISION] FOREIGN KEY([ID_COMISION])
REFERENCES [dbo].[COMISION] ([ID_COMISION])
GO
ALTER TABLE [dbo].[COMISION_EMPLEADO] CHECK CONSTRAINT [FK_COMISION_DERRIVA_M_COMISION]
GO
ALTER TABLE [dbo].[COMISION_EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_COMISION_RELATIONS_PAGO_SAL] FOREIGN KEY([IDPAGO])
REFERENCES [dbo].[PAGO_SALARIO] ([IDPAGO])
GO
ALTER TABLE [dbo].[COMISION_EMPLEADO] CHECK CONSTRAINT [FK_COMISION_RELATIONS_PAGO_SAL]
GO
ALTER TABLE [dbo].[CONTRATO]  WITH CHECK ADD  CONSTRAINT [FK_CONTRATO_FIRMA_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[CONTRATO] CHECK CONSTRAINT [FK_CONTRATO_FIRMA_CLIENTE]
GO
ALTER TABLE [dbo].[CONTRATO]  WITH CHECK ADD  CONSTRAINT [FK_CONTRATO_REALIZA_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[CONTRATO] CHECK CONSTRAINT [FK_CONTRATO_REALIZA_EMPLEADO]
GO
ALTER TABLE [dbo].[DEPARTAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTAM_TIPOS_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[DEPARTAMENTO] CHECK CONSTRAINT [FK_DEPARTAM_TIPOS_INMUEBLE]
GO
ALTER TABLE [dbo].[DOCUMENTACION]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENT_CUENTA_CO_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[DOCUMENTACION] CHECK CONSTRAINT [FK_DOCUMENT_CUENTA_CO_INMUEBLE]
GO
ALTER TABLE [dbo].[GARZOINER]  WITH CHECK ADD  CONSTRAINT [FK_GARZOINE_TIPOS4_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[GARZOINER] CHECK CONSTRAINT [FK_GARZOINE_TIPOS4_INMUEBLE]
GO
ALTER TABLE [dbo].[HISTORIAL]  WITH CHECK ADD  CONSTRAINT [FK_HISTORIA_TIENE2_OFERTA] FOREIGN KEY([ID_ADQUISICION])
REFERENCES [dbo].[OFERTA] ([ID_ADQUISICION])
GO
ALTER TABLE [dbo].[HISTORIAL] CHECK CONSTRAINT [FK_HISTORIA_TIENE2_OFERTA]
GO
ALTER TABLE [dbo].[IMAGENES]  WITH CHECK ADD  CONSTRAINT [FK_IMAGENES_TIENE_IMA_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[IMAGENES] CHECK CONSTRAINT [FK_IMAGENES_TIENE_IMA_INMUEBLE]
GO
ALTER TABLE [dbo].[INMUEBLE]  WITH CHECK ADD  CONSTRAINT [FK_INMUEBLE_ADQUIERE_OFERTA] FOREIGN KEY([ID_ADQUISICION])
REFERENCES [dbo].[OFERTA] ([ID_ADQUISICION])
GO
ALTER TABLE [dbo].[INMUEBLE] CHECK CONSTRAINT [FK_INMUEBLE_ADQUIERE_OFERTA]
GO
ALTER TABLE [dbo].[INMUEBLE]  WITH CHECK ADD  CONSTRAINT [FK_INMUEBLE_CUENTA_CO_DOCUMENT] FOREIGN KEY([ID_DOCUMENTO])
REFERENCES [dbo].[DOCUMENTACION] ([ID_DOCUMENTO])
GO
ALTER TABLE [dbo].[INMUEBLE] CHECK CONSTRAINT [FK_INMUEBLE_CUENTA_CO_DOCUMENT]
GO
ALTER TABLE [dbo].[INMUEBLE]  WITH CHECK ADD  CONSTRAINT [FK_INMUEBLE_UBICADO_UBICACIO] FOREIGN KEY([ID_UBICACION])
REFERENCES [dbo].[UBICACION] ([ID_UBICACION])
GO
ALTER TABLE [dbo].[INMUEBLE] CHECK CONSTRAINT [FK_INMUEBLE_UBICADO_UBICACIO]
GO
ALTER TABLE [dbo].[INTERES]  WITH CHECK ADD  CONSTRAINT [FK_INTERES_ESPECIFIC_INTERESE] FOREIGN KEY([IDESPECIFICOS])
REFERENCES [dbo].[INTERESES_ESPECIFICOS] ([IDESPECIFICOS])
GO
ALTER TABLE [dbo].[INTERES] CHECK CONSTRAINT [FK_INTERES_ESPECIFIC_INTERESE]
GO
ALTER TABLE [dbo].[INTERES]  WITH CHECK ADD  CONSTRAINT [FK_INTERES_RELATIONS_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[INTERES] CHECK CONSTRAINT [FK_INTERES_RELATIONS_CLIENTE]
GO
ALTER TABLE [dbo].[LOTE]  WITH CHECK ADD  CONSTRAINT [FK_LOTE_TIPOS3_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[LOTE] CHECK CONSTRAINT [FK_LOTE_TIPOS3_INMUEBLE]
GO
ALTER TABLE [dbo].[OFERTA]  WITH CHECK ADD  CONSTRAINT [FK_OFERTA_ADQUIERE2_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[OFERTA] CHECK CONSTRAINT [FK_OFERTA_ADQUIERE2_INMUEBLE]
GO
ALTER TABLE [dbo].[OFERTA]  WITH CHECK ADD  CONSTRAINT [FK_OFERTA_LLEVA_A_C_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[OFERTA] CHECK CONSTRAINT [FK_OFERTA_LLEVA_A_C_EMPLEADO]
GO
ALTER TABLE [dbo].[OTROS]  WITH CHECK ADD  CONSTRAINT [FK_OTROS_TIPOS5_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[OTROS] CHECK CONSTRAINT [FK_OTROS_TIPOS5_INMUEBLE]
GO
ALTER TABLE [dbo].[PAGO_SALARIO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_SAL_OTORGA_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[PAGO_SALARIO] CHECK CONSTRAINT [FK_PAGO_SAL_OTORGA_SUCURSAL]
GO
ALTER TABLE [dbo].[PAGO_SALARIO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_SAL_RECIBE_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[PAGO_SALARIO] CHECK CONSTRAINT [FK_PAGO_SAL_RECIBE_EMPLEADO]
GO
ALTER TABLE [dbo].[POSEE]  WITH CHECK ADD  CONSTRAINT [FK_POSEE_POSEE_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[POSEE] CHECK CONSTRAINT [FK_POSEE_POSEE_INMUEBLE]
GO
ALTER TABLE [dbo].[POSEE]  WITH CHECK ADD  CONSTRAINT [FK_POSEE_POSEE2_PROPIETA] FOREIGN KEY([ID_PROPIETARIO])
REFERENCES [dbo].[PROPIETARIO] ([ID_PROPIETARIO])
GO
ALTER TABLE [dbo].[POSEE] CHECK CONSTRAINT [FK_POSEE_POSEE2_PROPIETA]
GO
ALTER TABLE [dbo].[PROPIETARIO]  WITH CHECK ADD  CONSTRAINT [FK_PROPIETA_ASOCIA_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[PROPIETARIO] CHECK CONSTRAINT [FK_PROPIETA_ASOCIA_SUCURSAL]
GO
ALTER TABLE [dbo].[PUBLICIDAD]  WITH CHECK ADD  CONSTRAINT [FK_PUBLICID_CUENTA_CO_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[PUBLICIDAD] CHECK CONSTRAINT [FK_PUBLICID_CUENTA_CO_INMUEBLE]
GO
ALTER TABLE [dbo].[PUBLICIDAD]  WITH CHECK ADD  CONSTRAINT [FK_PUBLICID_PUBLICITA_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[PUBLICIDAD] CHECK CONSTRAINT [FK_PUBLICID_PUBLICITA_SUCURSAL]
GO
ALTER TABLE [dbo].[TELEFONO]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONO_21_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[TELEFONO] CHECK CONSTRAINT [FK_TELEFONO_21_CLIENTE]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACC_ELABORA_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACC_ELABORA_EMPLEADO]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACC_PAGA_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACC_PAGA_CLIENTE]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACC_PARTICIPA_PROPIETA] FOREIGN KEY([ID_PROPIETARIO])
REFERENCES [dbo].[PROPIETARIO] ([ID_PROPIETARIO])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACC_PARTICIPA_PROPIETA]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACC_RELATIONS_COMISION] FOREIGN KEY([ID_COMISION])
REFERENCES [dbo].[COMISION] ([ID_COMISION])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACC_RELATIONS_COMISION]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACC_TIENE_2_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACC_TIENE_2_INMUEBLE]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACC_TIPO_ALQUILER] FOREIGN KEY([ID_ALQUILER])
REFERENCES [dbo].[ALQUILER] ([ID_ALQUILER])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACC_TIPO_ALQUILER]
GO
ALTER TABLE [dbo].[UBICACION]  WITH CHECK ADD  CONSTRAINT [FK_UBICACIO_UBICADO2_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[UBICACION] CHECK CONSTRAINT [FK_UBICACIO_UBICADO2_INMUEBLE]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_TIPO2_ALQUILER] FOREIGN KEY([ID_ALQUILER])
REFERENCES [dbo].[ALQUILER] ([ID_ALQUILER])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_TIPO2_ALQUILER]
GO
ALTER TABLE [dbo].[VIDEOS]  WITH CHECK ADD  CONSTRAINT [FK_VIDEOS_TIENE_VID_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[VIDEOS] CHECK CONSTRAINT [FK_VIDEOS_TIENE_VID_INMUEBLE]
GO
USE [master]
GO
