USE [master]
GO
/****** Object:  Database [Taller]    Script Date: 15/6/2023 08:18:02 ******/
CREATE DATABASE [Taller]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Taller', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Taller.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Taller_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Taller_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Taller].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Taller]
GO
/****** Object:  Table [dbo].[ALQUILER]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALQUILER](
	[ID_ALQUILER] [int] NOT NULL,
	[FECHA_INICIO] [datetime] NULL,
	[FECHA_PAGO] [datetime] NULL,
	[CONDICIONES_PAGO] [varchar](50) NULL,
	[OBSERVACIONES_ALQUILER] [varchar](100) NULL,
 CONSTRAINT [PK_ALQUILER] PRIMARY KEY CLUSTERED 
(
	[ID_ALQUILER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANTICRETICO]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANTICRETICO](
	[ID_ALQUILER] [int] NOT NULL,
	[ID_ANTICRETICO] [int] NOT NULL,
	[FECHA_INICIO] [datetime] NULL,
	[FECHA_PAGO] [datetime] NULL,
	[CONDICIONES_PAGO] [varchar](50) NULL,
	[OBSERVACIONES_ALQUILER] [varchar](100) NULL,
	[CONDICIONES_CONTRATO_ANTICRETICO] [varchar](200) NULL,
	[FECHA_INICIO_CONTRATO] [datetime] NULL,
	[FECHA_PLAZO_CONTRATO] [datetime] NULL,
	[FECHA_RENOVACION_CONTRATO] [datetime] NULL,
 CONSTRAINT [PK_ANTICRETICO] PRIMARY KEY CLUSTERED 
(
	[ID_ALQUILER] ASC,
	[ID_ANTICRETICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CASA]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASA](
	[ID_INMUEBLE] [int] NOT NULL,
	[ID_CASA] [int] NOT NULL,
	[ID_UBICACION] [int] NULL,
	[ID_ADQUISICION] [int] NULL,
	[ID_DOCUMENTO] [int] NULL,
	[DESCRIP_INMUEBLE] [varchar](50) NULL,
	[ESTADO] [varchar](50) NULL,
	[SERVICIOS_BASICOS] [varchar](100) NULL,
	[HABITACIONES] [int] NULL,
	[BANOS] [int] NULL,
	[COCINAS] [float] NULL,
	[SALAS] [float] NULL,
	[PISOS] [float] NULL,
	[JARDIN] [bit] NULL,
	[GARAJE] [bit] NULL,
 CONSTRAINT [PK_CASA_1] PRIMARY KEY CLUSTERED 
(
	[ID_CASA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] NOT NULL,
	[ID_SUCURSAL] [int] NULL,
	[CI_CLIENTE] [int] NULL,
	[NOMBRE_COMPLETO] [varchar](50) NULL,
	[DIRECCION_CLIENTE] [varchar](50) NULL,
	[CORREO_CLIENTE] [char](50) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMISION]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMISION](
	[ID_COMISION] [int] NOT NULL,
	[ID_ALQUILER] [int] NULL,
	[ID_TRANSACCION] [int] NULL,
	[PORCENTAJE_COMISION] [char](10) NULL,
 CONSTRAINT [PK_COMISION] PRIMARY KEY CLUSTERED 
(
	[ID_COMISION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMISION_EMPLEADO]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMISION_EMPLEADO](
	[ID_COMISION_EMPLEADO] [int] NOT NULL,
	[IDPAGO] [int] NULL,
	[ID_COMISION] [int] NULL,
	[PORCENTAJE_COMISION] [char](10) NULL,
	[FECHA_COMISION] [datetime] NULL,
 CONSTRAINT [PK_COMISION_EMPLEADO_1] PRIMARY KEY CLUSTERED 
(
	[ID_COMISION_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTRATO]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRATO](
	[ID_CONTRATO] [int] NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_INTERES] [int] NULL,
	[ID_EMPLEADO] [int] NULL,
	[FECHA_CONTRATO] [datetime] NULL,
	[HORA_CONTRATO] [datetime] NULL,
	[PRESUPUESTO] [int] NULL,
	[TIPO_ADQUISICION] [varchar](50) NULL,
	[DESCRIPCION_CONTRATO] [varchar](50) NULL,
 CONSTRAINT [PK_CONTRATO_1] PRIMARY KEY CLUSTERED 
(
	[ID_CONTRATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[ID_INMUEBLE] [int] NOT NULL,
	[ID_DEPARTAMENTO] [int] NOT NULL,
	[ID_UBICACION] [int] NULL,
	[ID_ADQUISICION] [int] NULL,
	[ID_DOCUMENTO] [int] NULL,
	[DESCRIP_INMUEBLE] [varchar](50) NULL,
	[ESTADO] [varchar](50) NULL,
	[SERVICIOS_BASICOS] [varchar](100) NULL,
	[HABITACIONES] [int] NULL,
	[BANOS] [int] NULL,
	[NIVEL_DEPARTAMENTO] [int] NULL,
	[DESCRIPCION_DEPARTAMENTO] [varchar](100) NULL,
	[ASCENSOR] [bit] NULL,
	[ESTACIONAMIENTO] [bit] NULL,
 CONSTRAINT [PK_DEPARTAMENTO] PRIMARY KEY CLUSTERED 
(
	[ID_INMUEBLE] ASC,
	[ID_DEPARTAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTACION]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTACION](
	[ID_DOCUMENTO] [int] NOT NULL,
	[ID_INMUEBLE] [int] NULL,
	[RESPALDO_DOC] [varchar](50) NULL,
	[FECHA_VIGENCIA] [datetime] NULL,
	[ID_RESGISTRO_CATASTRAL_DOC] [int] NULL,
	[MINUTA_TRANSFERENCIA] [varchar](50) NULL,
	[IMPUESTOS] [varchar](50) NULL,
	[OBSERVACIONES] [varchar](100) NULL,
 CONSTRAINT [PK_DOCUMENTACION] PRIMARY KEY CLUSTERED 
(
	[ID_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[ID_EMPLEADO] [int] NOT NULL,
	[CI_EMPLEADO] [int] NULL,
	[NOMBREEMPLEADO] [varchar](50) NULL,
	[DIRECCION_EMPLEADO] [varchar](100) NULL,
	[TELF_EMPLEADO] [int] NULL,
	[FECHA_NACIMIENTO_EMPLEADO] [datetime] NULL,
 CONSTRAINT [PK_EMPLEADOS] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GARZOINER]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GARZOINER](
	[ID_INMUEBLE] [int] NOT NULL,
	[ID_GARZONIER] [int] NOT NULL,
	[ID_UBICACION] [int] NULL,
	[ID_ADQUISICION] [int] NULL,
	[ID_DOCUMENTO] [int] NULL,
	[DESCRIP_INMUEBLE] [varchar](50) NULL,
	[ESTADO] [varchar](50) NULL,
	[SERVICIOS_BASICOS] [varchar](100) NULL,
	[SUPERFICIE] [int] NULL,
	[DESCRIPCION_GARZONIER] [varchar](100) NULL,
 CONSTRAINT [PK_GARZOINER] PRIMARY KEY CLUSTERED 
(
	[ID_INMUEBLE] ASC,
	[ID_GARZONIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIAL]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL](
	[IDHISTORIAL] [int] NOT NULL,
	[ID_ADQUISICION] [int] NULL,
	[OFERTAANTERIOR] [int] NOT NULL,
	[FECHAINIOFERTA] [datetime] NOT NULL,
	[FECHAFINOFERTA] [datetime] NOT NULL,
	[OBSERVACION] [varchar](50) NULL,
 CONSTRAINT [PK_HISTORIAL] PRIMARY KEY CLUSTERED 
(
	[IDHISTORIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorarioEmpleado]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioEmpleado](
	[ID_Empleado] [int] NOT NULL,
	[ID_SUCURSAL] [int] NULL,
	[DiaSemana] [varchar](20) NOT NULL,
	[HoraInicio] [time](7) NULL,
	[HoraFin] [time](7) NULL,
 CONSTRAINT [PK_HorarioEmpleado] PRIMARY KEY CLUSTERED 
(
	[ID_Empleado] ASC,
	[DiaSemana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGENES]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGENES](
	[ID_IMAGEN] [int] NOT NULL,
	[ID_INMUEBLE] [int] NULL,
	[FORMATO_IMAGEN] [image] NULL,
	[RESOLUCION_PIXEL] [int] NULL,
	[FECHA_IMAGEN] [datetime] NULL,
 CONSTRAINT [PK_IMAGENES] PRIMARY KEY CLUSTERED 
(
	[ID_IMAGEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INMUEBLE]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INMUEBLE](
	[ID_INMUEBLE] [int] NOT NULL,
	[ID_UBICACION] [int] NULL,
	[ID_ADQUISICION] [int] NULL,
	[ID_DOCUMENTO] [int] NULL,
	[DESCRIP_INMUEBLE] [varchar](50) NULL,
	[ESTADO] [varchar](50) NULL,
	[SERVICIOS_BASICOS] [varchar](100) NULL,
 CONSTRAINT [PK_INMUEBLE] PRIMARY KEY CLUSTERED 
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERES]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERES](
	[ID_INTERES] [int] NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[IDESPECIFICOS] [int] NULL,
	[TIPO_INMUEBLE] [varchar](50) NULL,
	[__ZONA_] [varchar](50) NULL,
	[PRESUPUESTO] [int] NULL,
	[TIPO_OFERTA] [varchar](50) NULL,
	[ID_CONTRATO] [int] NULL,
 CONSTRAINT [PK_INTERES_1] PRIMARY KEY CLUSTERED 
(
	[ID_INTERES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERESES_ESPECIFICOS]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERESES_ESPECIFICOS](
	[IDESPECIFICOS] [int] NOT NULL,
	[ID_INTERES] [int] NULL,
	[NUMDORMITORIOS] [int] NULL,
	[NUMBANOS] [int] NULL,
	[GARAJE] [bit] NULL,
	[JARDIN] [bit] NULL,
	[SERVICIOS_BASICOS] [varchar](100) NULL,
	[ASCENSOR] [bit] NULL,
	[ESTACIONAMIENTO] [bit] NULL,
 CONSTRAINT [PK_INTERESES_ESPECIFICOS] PRIMARY KEY CLUSTERED 
(
	[IDESPECIFICOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOTE]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOTE](
	[ID_INMUEBLE] [int] NOT NULL,
	[ID_LOTE] [int] NOT NULL,
	[ID_UBICACION] [int] NULL,
	[ID_ADQUISICION] [int] NULL,
	[ID_DOCUMENTO] [int] NULL,
	[DESCRIP_INMUEBLE] [varchar](50) NULL,
	[ESTADO] [varchar](50) NULL,
	[SERVICIOS_BASICOS] [varchar](100) NULL,
	[SUPERFICIE_M2] [int] NULL,
	[DESCRIPCION_LOTE] [varchar](100) NULL,
 CONSTRAINT [PK_LOTE] PRIMARY KEY CLUSTERED 
(
	[ID_INMUEBLE] ASC,
	[ID_LOTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OFERTA]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFERTA](
	[ID_ADQUISICION] [int] NOT NULL,
	[ID_INMUEBLE] [int] NULL,
	[ID_EMPLEADO] [int] NULL,
	[FECHA_INICIO] [datetime] NULL,
	[FECHA_FIN] [datetime] NULL,
	[TIPOOFERTA] [varchar](50) NULL,
	[OFERTAACTUAL] [int] NULL,
	[IDHISTORIAL] [int] NULL,
 CONSTRAINT [PK_OFERTA] PRIMARY KEY CLUSTERED 
(
	[ID_ADQUISICION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTROS]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTROS](
	[ID_INMUEBLE] [int] NOT NULL,
	[ID_UBICACION] [int] NULL,
	[ID_ADQUISICION] [int] NULL,
	[ID_DOCUMENTO] [int] NULL,
	[DESCRIP_INMUEBLE] [varchar](50) NULL,
	[ESTADO] [varchar](50) NULL,
	[SERVICIOS_BASICOS] [varchar](100) NULL,
	[TIPO_INMUEBLE] [varchar](50) NULL,
	[DESCRIPCION] [varchar](100) NULL,
 CONSTRAINT [PK_OTROS_1] PRIMARY KEY CLUSTERED 
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO_SALARIO]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO_SALARIO](
	[IDPAGO] [int] NOT NULL,
	[ID_SUCURSAL] [int] NULL,
	[ID_EMPLEADO] [int] NULL,
	[MONTOTOTAL] [float] NOT NULL,
	[FECHAPAGO] [datetime] NOT NULL,
	[HORAPAGO] [datetime] NOT NULL,
	[OBSERVACIONPAGO] [varchar](50) NULL,
 CONSTRAINT [PK_PAGO_SALARIO] PRIMARY KEY CLUSTERED 
(
	[IDPAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSEE]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSEE](
	[ID_INMUEBLE] [int] NOT NULL,
	[ID_PROPIETARIO] [int] NOT NULL,
 CONSTRAINT [PK_POSEE] PRIMARY KEY CLUSTERED 
(
	[ID_INMUEBLE] ASC,
	[ID_PROPIETARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROPIETARIO]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPIETARIO](
	[ID_PROPIETARIO] [int] NOT NULL,
	[ID_SUCURSAL] [int] NULL,
	[CI_PROPIETARIO] [int] NULL,
	[NOMBRE] [varchar](50) NULL,
	[DIRECCION] [char](100) NULL,
	[TELEFONO_PROPIETARIO] [int] NULL,
	[CELULAR_PROPIETARIO] [int] NULL,
	[CORREO_PROPIETARIO] [varchar](50) NULL,
	[PUBLICACION_REDES] [bit] NULL,
 CONSTRAINT [PK_PROPIETARIO] PRIMARY KEY CLUSTERED 
(
	[ID_PROPIETARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLICIDAD]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLICIDAD](
	[ID_PUBLICIDAD] [int] NOT NULL,
	[ID_INMUEBLE] [int] NULL,
	[ID_SUCURSAL] [int] NULL,
	[TIPO_PUBLICIDAD] [varchar](50) NULL,
	[FECHAINICIOPUBLICIDAD] [datetime] NULL,
	[FECHAFINPUBLICIDAD] [datetime] NULL,
	[DESCRIPPUBLICIDAD] [varchar](100) NULL,
	[PRECIOPUBLICIDAD] [float] NOT NULL,
 CONSTRAINT [PK_PUBLICIDAD] PRIMARY KEY CLUSTERED 
(
	[ID_PUBLICIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroEntradaEmpleado]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroEntradaEmpleado](
	[ID_RegistroEntrada] [int] IDENTITY(1,1) NOT NULL,
	[ID_Empleado] [int] NULL,
	[Fecha] [date] NULL,
	[HoraEntrada] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RegistroEntrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroRetrasoEntrada]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroRetrasoEntrada](
	[ID_RegistroRetraso] [int] IDENTITY(1,1) NOT NULL,
	[ID_Empleado] [int] NULL,
	[DiaSemana] [varchar](20) NULL,
	[HoraEntrada] [time](7) NULL,
	[RetrasoMinutos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_RegistroRetraso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[ID_SUCURSAL] [int] NOT NULL,
	[DIRECCION_SUCURSAL] [varchar](50) NULL,
	[DESCRIPCIONSUCURSAL] [varchar](100) NULL,
 CONSTRAINT [PK_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONO]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONO](
	[IDTELEFONO] [int] NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[TIPOTELF] [varchar](50) NULL,
	[NUMTELF] [int] NULL,
	[OBSERVACION] [varchar](50) NULL,
 CONSTRAINT [PK_TELEFONO] PRIMARY KEY CLUSTERED 
(
	[IDTELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACCION]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACCION](
	[ID_ALQUILER] [int] NOT NULL,
	[ID_TRANSACCION] [int] NOT NULL,
	[ID_COMISION] [int] NULL,
	[ID_EMPLEADO] [int] NULL,
	[ID_PROPIETARIO] [int] NULL,
	[ID_CLIENTE] [int] NULL,
	[ID_INMUEBLE] [int] NULL,
	[FECHA_INICIO] [datetime] NULL,
	[FECHA_PAGO] [datetime] NULL,
	[CONDICIONES_PAGO] [varchar](50) NULL,
	[OBSERVACIONES_ALQUILER] [varchar](100) NULL,
	[FECHA_TRANSACCION] [datetime] NULL,
	[DESCRIPCION_TRANSACCION] [varchar](100) NULL,
	[TIPO_TRANSACCION] [varchar](50) NULL,
	[DETALLE_TRANSACCION] [varchar](100) NULL,
	[ID_CONTRATO] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TRANSACCION_1] PRIMARY KEY CLUSTERED 
(
	[ID_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UBICACION]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UBICACION](
	[ID_UBICACION] [int] NOT NULL,
	[ID_INMUEBLE] [int] NULL,
	[ZONA] [varchar](50) NULL,
	[CALLE_PRINCIPAL] [varchar](50) NULL,
	[CALLE_COLINDANTE1] [varchar](50) NULL,
	[CALLE_COLINDANTE2] [varchar](50) NULL,
	[ENLACE_GOOGLEMAPS] [varchar](100) NULL,
	[OBSERVACIONES] [varchar](100) NULL,
 CONSTRAINT [PK_UBICACION] PRIMARY KEY CLUSTERED 
(
	[ID_UBICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[ID_ALQUILER] [int] NOT NULL,
	[ID_VENTA] [int] NOT NULL,
	[FECHA_INICIO] [datetime] NULL,
	[FECHA_PAGO] [datetime] NULL,
	[CONDICIONES_PAGO] [varchar](50) NULL,
	[OBSERVACIONES_ALQUILER] [varchar](100) NULL,
	[FECHA_VENTA] [datetime] NULL,
	[CONDICIONES_VENTA] [varchar](50) NULL,
	[HORA_VENTA] [datetime] NULL,
	[OBSERVACION] [varchar](50) NULL,
 CONSTRAINT [PK_VENTA_1] PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIDEOS]    Script Date: 15/6/2023 08:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIDEOS](
	[ID_VIDEO] [int] NOT NULL,
	[ID_INMUEBLE] [int] NULL,
	[VIDEO_FORMATO_MP4] [image] NULL,
	[FECHA_VIDEO] [datetime] NULL,
	[DESCRIPCION_VIDEO] [varchar](100) NULL,
 CONSTRAINT [PK_VIDEOS] PRIMARY KEY CLUSTERED 
(
	[ID_VIDEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [TIPO3_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [TIPO3_FK] ON [dbo].[ANTICRETICO]
(
	[ID_ALQUILER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIPOS2_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [TIPOS2_FK] ON [dbo].[CASA]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ATIENDE_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [ATIENDE_FK] ON [dbo].[CLIENTE]
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_7_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_7_FK] ON [dbo].[COMISION]
(
	[ID_ALQUILER] ASC,
	[ID_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [DERRIVA_MONTO_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [DERRIVA_MONTO_FK] ON [dbo].[COMISION_EMPLEADO]
(
	[ID_COMISION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_27_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_27_FK] ON [dbo].[COMISION_EMPLEADO]
(
	[IDPAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FIRMA_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [FIRMA_FK] ON [dbo].[CONTRATO]
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [REALIZA_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [REALIZA_FK] ON [dbo].[CONTRATO]
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [SE_EFECTUA_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [SE_EFECTUA_FK] ON [dbo].[CONTRATO]
(
	[ID_INTERES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIPOS_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [TIPOS_FK] ON [dbo].[DEPARTAMENTO]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CUENTA_CON2_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [CUENTA_CON2_FK] ON [dbo].[DOCUMENTACION]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIPOS4_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [TIPOS4_FK] ON [dbo].[GARZOINER]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIENE2_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [TIENE2_FK] ON [dbo].[HISTORIAL]
(
	[ID_ADQUISICION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIENE_IMAGEN_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [TIENE_IMAGEN_FK] ON [dbo].[IMAGENES]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ADQUIERE_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [ADQUIERE_FK] ON [dbo].[INMUEBLE]
(
	[ID_ADQUISICION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CUENTA_CON_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [CUENTA_CON_FK] ON [dbo].[INMUEBLE]
(
	[ID_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UBICADO_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [UBICADO_FK] ON [dbo].[INMUEBLE]
(
	[ID_UBICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ESPECIFICA2_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [ESPECIFICA2_FK] ON [dbo].[INTERES]
(
	[IDESPECIFICOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_10_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_10_FK] ON [dbo].[INTERES]
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ESPECIFICA_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [ESPECIFICA_FK] ON [dbo].[INTERESES_ESPECIFICOS]
(
	[ID_INTERES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIPOS3_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [TIPOS3_FK] ON [dbo].[LOTE]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ADQUIERE2_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [ADQUIERE2_FK] ON [dbo].[OFERTA]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [LLEVA_A_CABO_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [LLEVA_A_CABO_FK] ON [dbo].[OFERTA]
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIPOS5_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [TIPOS5_FK] ON [dbo].[OTROS]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [OTORGA_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [OTORGA_FK] ON [dbo].[PAGO_SALARIO]
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RECIBE_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [RECIBE_FK] ON [dbo].[PAGO_SALARIO]
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [POSEE_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [POSEE_FK] ON [dbo].[POSEE]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [POSEE2_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [POSEE2_FK] ON [dbo].[POSEE]
(
	[ID_PROPIETARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ASOCIA_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [ASOCIA_FK] ON [dbo].[PROPIETARIO]
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CUENTA_CON1_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [CUENTA_CON1_FK] ON [dbo].[PUBLICIDAD]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PUBLICITA_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [PUBLICITA_FK] ON [dbo].[PUBLICIDAD]
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [21_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [21_FK] ON [dbo].[TELEFONO]
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ELABORA_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [ELABORA_FK] ON [dbo].[TRANSACCION]
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PAGA_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [PAGA_FK] ON [dbo].[TRANSACCION]
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PARTICIPA_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [PARTICIPA_FK] ON [dbo].[TRANSACCION]
(
	[ID_PROPIETARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_8_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_8_FK] ON [dbo].[TRANSACCION]
(
	[ID_COMISION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIENE_2_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [TIENE_2_FK] ON [dbo].[TRANSACCION]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIPO_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [TIPO_FK] ON [dbo].[TRANSACCION]
(
	[ID_ALQUILER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UBICADO2_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [UBICADO2_FK] ON [dbo].[UBICACION]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIPO2_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [TIPO2_FK] ON [dbo].[VENTA]
(
	[ID_ALQUILER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [TIENE_VIDEO_FK]    Script Date: 15/6/2023 08:18:03 ******/
CREATE NONCLUSTERED INDEX [TIENE_VIDEO_FK] ON [dbo].[VIDEOS]
(
	[ID_INMUEBLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ANTICRETICO]  WITH CHECK ADD  CONSTRAINT [FK_ANTICRET_TIPO3_ALQUILER] FOREIGN KEY([ID_ALQUILER])
REFERENCES [dbo].[ALQUILER] ([ID_ALQUILER])
GO
ALTER TABLE [dbo].[ANTICRETICO] CHECK CONSTRAINT [FK_ANTICRET_TIPO3_ALQUILER]
GO
ALTER TABLE [dbo].[CASA]  WITH CHECK ADD  CONSTRAINT [FK_CASA_TIPOS2_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[CASA] CHECK CONSTRAINT [FK_CASA_TIPOS2_INMUEBLE]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_ATIENDE_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_ATIENDE_SUCURSAL]
GO
ALTER TABLE [dbo].[COMISION_EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_COMISION_DERRIVA_M_COMISION] FOREIGN KEY([ID_COMISION])
REFERENCES [dbo].[COMISION] ([ID_COMISION])
GO
ALTER TABLE [dbo].[COMISION_EMPLEADO] CHECK CONSTRAINT [FK_COMISION_DERRIVA_M_COMISION]
GO
ALTER TABLE [dbo].[COMISION_EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_COMISION_RELATIONS_PAGO_SAL] FOREIGN KEY([IDPAGO])
REFERENCES [dbo].[PAGO_SALARIO] ([IDPAGO])
GO
ALTER TABLE [dbo].[COMISION_EMPLEADO] CHECK CONSTRAINT [FK_COMISION_RELATIONS_PAGO_SAL]
GO
ALTER TABLE [dbo].[CONTRATO]  WITH CHECK ADD  CONSTRAINT [FK_CONTRATO_FIRMA_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[CONTRATO] CHECK CONSTRAINT [FK_CONTRATO_FIRMA_CLIENTE]
GO
ALTER TABLE [dbo].[CONTRATO]  WITH CHECK ADD  CONSTRAINT [FK_CONTRATO_REALIZA_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[CONTRATO] CHECK CONSTRAINT [FK_CONTRATO_REALIZA_EMPLEADO]
GO
ALTER TABLE [dbo].[DEPARTAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTAM_TIPOS_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[DEPARTAMENTO] CHECK CONSTRAINT [FK_DEPARTAM_TIPOS_INMUEBLE]
GO
ALTER TABLE [dbo].[DOCUMENTACION]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENT_CUENTA_CO_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[DOCUMENTACION] CHECK CONSTRAINT [FK_DOCUMENT_CUENTA_CO_INMUEBLE]
GO
ALTER TABLE [dbo].[GARZOINER]  WITH CHECK ADD  CONSTRAINT [FK_GARZOINE_TIPOS4_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[GARZOINER] CHECK CONSTRAINT [FK_GARZOINE_TIPOS4_INMUEBLE]
GO
ALTER TABLE [dbo].[HISTORIAL]  WITH CHECK ADD  CONSTRAINT [FK_HISTORIA_TIENE2_OFERTA] FOREIGN KEY([ID_ADQUISICION])
REFERENCES [dbo].[OFERTA] ([ID_ADQUISICION])
GO
ALTER TABLE [dbo].[HISTORIAL] CHECK CONSTRAINT [FK_HISTORIA_TIENE2_OFERTA]
GO
ALTER TABLE [dbo].[IMAGENES]  WITH CHECK ADD  CONSTRAINT [FK_IMAGENES_TIENE_IMA_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[IMAGENES] CHECK CONSTRAINT [FK_IMAGENES_TIENE_IMA_INMUEBLE]
GO
ALTER TABLE [dbo].[INMUEBLE]  WITH CHECK ADD  CONSTRAINT [FK_INMUEBLE_ADQUIERE_OFERTA] FOREIGN KEY([ID_ADQUISICION])
REFERENCES [dbo].[OFERTA] ([ID_ADQUISICION])
GO
ALTER TABLE [dbo].[INMUEBLE] CHECK CONSTRAINT [FK_INMUEBLE_ADQUIERE_OFERTA]
GO
ALTER TABLE [dbo].[INMUEBLE]  WITH CHECK ADD  CONSTRAINT [FK_INMUEBLE_CUENTA_CO_DOCUMENT] FOREIGN KEY([ID_DOCUMENTO])
REFERENCES [dbo].[DOCUMENTACION] ([ID_DOCUMENTO])
GO
ALTER TABLE [dbo].[INMUEBLE] CHECK CONSTRAINT [FK_INMUEBLE_CUENTA_CO_DOCUMENT]
GO
ALTER TABLE [dbo].[INMUEBLE]  WITH CHECK ADD  CONSTRAINT [FK_INMUEBLE_UBICADO_UBICACIO] FOREIGN KEY([ID_UBICACION])
REFERENCES [dbo].[UBICACION] ([ID_UBICACION])
GO
ALTER TABLE [dbo].[INMUEBLE] CHECK CONSTRAINT [FK_INMUEBLE_UBICADO_UBICACIO]
GO
ALTER TABLE [dbo].[INTERES]  WITH CHECK ADD  CONSTRAINT [FK_INTERES_ESPECIFIC_INTERESE] FOREIGN KEY([IDESPECIFICOS])
REFERENCES [dbo].[INTERESES_ESPECIFICOS] ([IDESPECIFICOS])
GO
ALTER TABLE [dbo].[INTERES] CHECK CONSTRAINT [FK_INTERES_ESPECIFIC_INTERESE]
GO
ALTER TABLE [dbo].[INTERES]  WITH CHECK ADD  CONSTRAINT [FK_INTERES_RELATIONS_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[INTERES] CHECK CONSTRAINT [FK_INTERES_RELATIONS_CLIENTE]
GO
ALTER TABLE [dbo].[LOTE]  WITH CHECK ADD  CONSTRAINT [FK_LOTE_TIPOS3_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[LOTE] CHECK CONSTRAINT [FK_LOTE_TIPOS3_INMUEBLE]
GO
ALTER TABLE [dbo].[OFERTA]  WITH CHECK ADD  CONSTRAINT [FK_OFERTA_ADQUIERE2_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[OFERTA] CHECK CONSTRAINT [FK_OFERTA_ADQUIERE2_INMUEBLE]
GO
ALTER TABLE [dbo].[OFERTA]  WITH CHECK ADD  CONSTRAINT [FK_OFERTA_LLEVA_A_C_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[OFERTA] CHECK CONSTRAINT [FK_OFERTA_LLEVA_A_C_EMPLEADO]
GO
ALTER TABLE [dbo].[OTROS]  WITH CHECK ADD  CONSTRAINT [FK_OTROS_TIPOS5_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[OTROS] CHECK CONSTRAINT [FK_OTROS_TIPOS5_INMUEBLE]
GO
ALTER TABLE [dbo].[PAGO_SALARIO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_SAL_OTORGA_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[PAGO_SALARIO] CHECK CONSTRAINT [FK_PAGO_SAL_OTORGA_SUCURSAL]
GO
ALTER TABLE [dbo].[PAGO_SALARIO]  WITH CHECK ADD  CONSTRAINT [FK_PAGO_SAL_RECIBE_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[PAGO_SALARIO] CHECK CONSTRAINT [FK_PAGO_SAL_RECIBE_EMPLEADO]
GO
ALTER TABLE [dbo].[POSEE]  WITH CHECK ADD  CONSTRAINT [FK_POSEE_POSEE_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[POSEE] CHECK CONSTRAINT [FK_POSEE_POSEE_INMUEBLE]
GO
ALTER TABLE [dbo].[POSEE]  WITH CHECK ADD  CONSTRAINT [FK_POSEE_POSEE2_PROPIETA] FOREIGN KEY([ID_PROPIETARIO])
REFERENCES [dbo].[PROPIETARIO] ([ID_PROPIETARIO])
GO
ALTER TABLE [dbo].[POSEE] CHECK CONSTRAINT [FK_POSEE_POSEE2_PROPIETA]
GO
ALTER TABLE [dbo].[PROPIETARIO]  WITH CHECK ADD  CONSTRAINT [FK_PROPIETA_ASOCIA_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[PROPIETARIO] CHECK CONSTRAINT [FK_PROPIETA_ASOCIA_SUCURSAL]
GO
ALTER TABLE [dbo].[PUBLICIDAD]  WITH CHECK ADD  CONSTRAINT [FK_PUBLICID_CUENTA_CO_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[PUBLICIDAD] CHECK CONSTRAINT [FK_PUBLICID_CUENTA_CO_INMUEBLE]
GO
ALTER TABLE [dbo].[PUBLICIDAD]  WITH CHECK ADD  CONSTRAINT [FK_PUBLICID_PUBLICITA_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[PUBLICIDAD] CHECK CONSTRAINT [FK_PUBLICID_PUBLICITA_SUCURSAL]
GO
ALTER TABLE [dbo].[TELEFONO]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONO_21_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[TELEFONO] CHECK CONSTRAINT [FK_TELEFONO_21_CLIENTE]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACC_ELABORA_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACC_ELABORA_EMPLEADO]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACC_PAGA_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACC_PAGA_CLIENTE]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACC_PARTICIPA_PROPIETA] FOREIGN KEY([ID_PROPIETARIO])
REFERENCES [dbo].[PROPIETARIO] ([ID_PROPIETARIO])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACC_PARTICIPA_PROPIETA]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACC_RELATIONS_COMISION] FOREIGN KEY([ID_COMISION])
REFERENCES [dbo].[COMISION] ([ID_COMISION])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACC_RELATIONS_COMISION]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACC_TIENE_2_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACC_TIENE_2_INMUEBLE]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACC_TIPO_ALQUILER] FOREIGN KEY([ID_ALQUILER])
REFERENCES [dbo].[ALQUILER] ([ID_ALQUILER])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACC_TIPO_ALQUILER]
GO
ALTER TABLE [dbo].[UBICACION]  WITH CHECK ADD  CONSTRAINT [FK_UBICACIO_UBICADO2_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[UBICACION] CHECK CONSTRAINT [FK_UBICACIO_UBICADO2_INMUEBLE]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_TIPO2_ALQUILER] FOREIGN KEY([ID_ALQUILER])
REFERENCES [dbo].[ALQUILER] ([ID_ALQUILER])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_TIPO2_ALQUILER]
GO
ALTER TABLE [dbo].[VIDEOS]  WITH CHECK ADD  CONSTRAINT [FK_VIDEOS_TIENE_VID_INMUEBLE] FOREIGN KEY([ID_INMUEBLE])
REFERENCES [dbo].[INMUEBLE] ([ID_INMUEBLE])
GO
ALTER TABLE [dbo].[VIDEOS] CHECK CONSTRAINT [FK_VIDEOS_TIENE_VID_INMUEBLE]
GO
USE [master]
GO
